<script crossorigin src="https://cdn.jsdelivr.net/npm/jquery@3/dist/jquery.min.js"></script>
<script crossorigin src="https://cdn.jsdelivr.net/npm/bootstrap@4/dist/js/bootstrap.bundle.min.js"></script>
